body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

input.form-control {
    border-radius: 50px;
}

#description {
    width: 300px;
}

.btn.btn-success {
    width: 300px;
    padding: .5rem;
    background-color: #1F8943;
    border-radius: 50px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.btn.btn-success:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.btn.btn-border {
    width: 300px;
    padding: .5rem;
    background-color: transparent;
    border-radius: 50px;
    border: 5px solid #575757;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.btn.btn-border:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.btn.btn-link {
    width: 300px;
    padding: .5rem;
    background-color: transparent;
    border-radius: 50px;
    border: none;
    color: #7d7d7d;
}

.nav-app {
    background-color: #C4C4C4;
    border-radius: 50px;
}
.nav-link {
    color: black;
}
.nav-link.active {
    color: white;
}